<h2>Informacion</h2>

<div class="padre_redes">
    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Consequuntur nemo ullam, quod cum natus aspernatur amet expedita dolor unde ducimus saepe architecto nesciunt aperiam corrupti. Dolor voluptates iusto officiis modi, qui ipsa saepe earum, debitis natus officia quas. At, expedita enim nulla unde, similique itaque ullam ex dolore voluptatibus repudiandae consequatur voluptates numquam aliquid modi vitae obcaecati dignissimos sunt nam nihil quia exercitationem aliquam, ipsam earum. Quibusdam sequi sed dicta accusantium. Impedit soluta totam voluptates amet nam? Odio nobis aut deleniti saepe iste, molestiae inventore cupiditate at laudantium? Aperiam numquam optio dolore deleniti ipsum atque impedit laboriosam, officiis sequi vitae?</p>

    <div class="redes">
        <img src="/assets/facebook.png" alt="">
        <img src="/assets/instagram.png" alt="">
        <img src="/assets/whatsapp.png" alt="">
    </div>
</div>
