h2{
    text-align: end;
    font-size: 35px;
    margin-bottom: 30px;
    background-color: white;
    color: slateblue;
    font-family: 'Bigshot One', cursive;
    border-bottom: 3px solid rgb(146, 131, 249);
}
section {
    display: flex;
    justify-content: center;
    align-items: center;
}
.caja_proyectos {
    padding-top: 50px;
    width: 1000px;
    height: 500px;
}

img {
    width: 1000px;
    height: 500px;
}