<div class="main">

	<div class="perspective-text">
		<div class="perspective-line">
			<p></p>
			<p><a href="">Baños</a></p>
		</div>
		<div class="perspective-line">
			<p><span>Categorias</span></p>
			<p><a class="kit" href="">Backyard</a></p>
		</div>
		<div class="perspective-line">
			<p>Para</p>
			<p><a href="">Kitchen</a></p>
		</div>
		<div class="perspective-line">
			<p><span>cualquier</span></p>
			<p><a class="kit" href="">Cuartos</a></p>
		</div>
		<div class="perspective-line">
			<p>Trabajo</p>
			<p><a href="">LivingRoom</a></p>
		</div>

</div>