.contenedor_padre{
    height: 42em;
    background-image: url(/assets/fondo.jpeg);
    background-position: end;
}

.contenedor_eslo{
    padding-top: 18em;
    height: 19em;
}

/*---------------------------------------------*/

.contenedor_info{
    height: 41.05em;
    width: 100%;
    display: flex;
    justify-content: center;
}

.contenedor_info_baby{
    width: 1000px;
    height: 20em;
    margin-top: 100px;
    background-image: url(/assets/fondo-info.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 1050px;
}

.contenedor_info_proyectos{
    width:100%;
    height: 41.05em;
}
/*---------------------------------------------*/


.contenedor_info_categorias{
    width:100%;
    height: 41.05em;
}