<app-navbar></app-navbar>

<div id="home" class="contenedor_padre">

  <div class="contenedor_eslo">
    <app-eslogan></app-eslogan>
  </div>

</div>

<div id="informacion" class="contenedor_info">

  <div class="contenedor_info_baby">
    <app-informacion></app-informacion>
  </div>

</div>

<div id="proyectos" class="contenedor_info_proyectos">

    <app-proyectos></app-proyectos>

</div>

<div id="categorias" class="contenedor_info_categorias">

  <app-categorias></app-categorias>

</div>

<div id="perfil" class="contenedor_info_anexos" style="background-color: black;">

  <app-anexos></app-anexos>

</div>

<app-footer style="background-color: black;"></app-footer>