div{
    padding-top: 15px;
    padding-bottom: 5px;
    padding-left: 15px;
}
a{
    font-size: 20px;
    font-family: 'Viga', sans-serif;
    color: rgb(255, 255, 255);
    text-decoration: none;
    margin: 0 10px;
    transition: 0.7s;
}

a:hover{
    color: rgb(63, 0, 0);
    text-decoration: double;
    box-shadow: 0px 3px 0px 0px rgba(255, 255, 255, 0.841);
}

p{
    font-size: 34px;
    margin-left: 34em;
    font-family: 'Monofett', cursive;
}